*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* ------ Strona główna------- */


header{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("../img/srodek.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    overflow: hidden;
}



/* ------ ikona balu ------- */
.icon{
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: -5%;    
}
/* ------ navbar ------- */


.navbar .navbar-nav li a{
    color: white !important;
}

.navbar .navbar-nav li a:hover{
    opacity: 0.5 !important;
}

.navbar-toggler{
    background-color: transparent !important;
    border-color: transparent !important;
    
}


#lang{
    color: white;
}
/* ------ SRTRONA 2 ------- */
section{
    margin: 0 auto;
    overflow: hidden;
    
}


/* ------ kino ----------*/
.cinema{
    background-color: #fff;
    min-height: 40vh;
}



.text-left h1{
   margin-top: 50px;
 font-family: 'Lily Script One', cursive;

}

.text-left{
    float: left;
  
   
}

.text-left p{
    padding-top: 60px;
    font-size: 20px;
}



.repertuar{
    float: right;
    
}

.repertuar h1{
    text-align: left;
    margin-top: 50px;
  font-family: 'Lily Script One', cursive;
    
}



.facebook-pg{
    padding-top: 60px;
    width: 500px !important;
    
}
/* ----------- ABOUT US ------------- */
.about-us{
    
    min-height: 50vh;
    color: black;
}

.about-us img{
    width: 400px;
}

.bg-slant-black{
    position: relative;
}

.bg-slant-black::before{
    content: "";
    position: absolute;
    top: 850px;
    background: rgb(249, 249, 249);
    width: 120%;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg) ;
    transform: rotate(-5deg);
    z-index: -1;
    height: 500px;
    right: -2%;
}

.bg-slant-black::after{
    content: "";
    position: absolute;
    top: 300px;
    background: rgb(249, 249, 249);
    width: 120%;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg) ;
    transform: rotate(5deg);
    z-index: -1;
    height: 500px;
    right: -2%;
}


.logo{
    width: 450px;
    margin: 0 auto;
}


 /* ------PARTY------- */
 .party{  
     width: 100%;
     top: 1800px;
     background-color: rgb(39, 39, 39);
 }

 .party h1{
   
     text-align: center;
 }

 .party p{
     text-align: left;
 }

 .li-elements{
     font-size: 30px;
 }


 /* -- kontank */



.change{
    width: 30%;
    margin-bottom: 2%;
    opacity: 0.9;
    text-align: center;
    height: 80%;
    position: fixed;
}


/* background */

.pic1{
    background-position: center;
    background: url("../img/food2.jpg");
    background-size: cover;
 
}


.pic2{
    background-position: center;
    background: url("../img/food4.jpg");
    background-size: cover;
}


.pic3{
    background-position: center;
    background: url("../img/drink.jpg");
    background-size: cover;
}

.heading{
    color: rgb(66, 66, 66);
    font-weight: bold;
}

.background{
    background-image: url("../img/movie.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

/*------- ikony -------*/
.fa-facebook-square{
    color:rgb(175, 175, 175);
}

.fa-instagram{
    color:rgb(175, 175, 175);
}

.fa-facebook-messenger{
    color:rgb(175, 175, 175);
}

.fa-facebook-messenger:hover{
    color: black;
    transition: 0.5s;
}

.fa-facebook-square:hover{
    color: black;
    transition: 0.5s;
}

.fa-instagram:hover{
    color: black;
    transition: 0.5s;
}

.fa-map-marker-alt{
    display: block;
    text-align: center;
}

.fa-credit-card{
    display: block;
    text-align: center;
}

.fa-map-marker-alt:after{
    display: block;
    content: "";
    height: 1px;
    width: 100px;
    background-color: #ffc107;
    margin: 0 auto;
    margin-top: 10px;
}
.fa-credit-card:after{
    display: block;
    content: "";
    height: 1px;
    width: 100px;
    background-color: #ffc107;
    margin: 0 auto;
    margin-top: 10px;
}