*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* ------ Strona główna------- */


header{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("../img/srodek.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    overflow: hidden;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}




/* ------ ikona balu ------- */
.icon{
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: -5%;    
    
}
/* ------ navbar ------- */


.navbar .navbar-nav li a{
    color: white !important;
}

.navbar .navbar-nav li a:hover{
    opacity: 0.5 !important;
}

.navbar-toggler{
    background-color: transparent !important;
    border-color: transparent !important;
    
}


#lang{
    color: white;
}
/* ------ SRTRONA 2 ------- */
section{
    margin: 0 auto;
    overflow: hidden;
    
}

.hidden{
    display: block;
}

/* ------ kino ----------*/
.cinema{
    background-color: #fff;
    min-height: 700px;
}

.text-left{
    float: left;  
}

.text-left p{
    font-size: 20px;
}

.repertuar{
    float: right;
    
}

.repertuar h1{
    text-align: right;
}


.facebook-pg{
    padding-top: 30px;
    float: right;
}

.fb-page{
    width: 340px;
    
}

/* ----------- ABOUT US ------------- */
.about-us{
    
    min-height: 50vh;
    color: black;
}

.about-txt{
    font-size: 20px;
    
}

.inside-txt{
    font-size: 15px;
    
}

.bg-slant-black{
    position: relative;
}

.bg-slant-black::before{
    content: "";
    position: absolute;
    top: 850px;
    background: rgb(249, 249, 249);
    width: 120%;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg) ;
    transform: rotate(-5deg);
    z-index: -1;
    height: 500px;
    right: -2%;
}

.bg-slant-black::after{
    content: "";
    position: absolute;
    top: 300px;
    background: rgb(249, 249, 249);
    width: 120%;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg) ;
    transform: rotate(5deg);
    z-index: -1;
    height: 500px;
    right: -2%;
}


.logo{
    width: 450px;
    margin: 0 auto;
    display: block;
}


 /* ------PARTY------- */
 .party{  
     width: 100%;
     top: 1800px;
     background-color: rgb(39, 39, 39);
 }

 .party h1{
   
     text-align: center;
 }

 .party p{
     text-align: left;
 }

 .li-elements{
     font-size: 30px;
 }


 /* -- kontank */



.change{
    width: 30%;
    margin-bottom: 7%;
    opacity: 0.9;
    text-align: center;
    
    position: fixed;
}

#slider{
    height: 600px;
}

/* background */

.pic{
    background-position: center;
    min-height: 300px;
}

#one{
    background: url("../img/food2.jpg");
    background-size: cover;
}


#two{
    background: url("../img/food4.jpg");
    background-size: cover;
}


#three{
    
    background: url("../img/drink.jpg");
    background-size: cover;
}

.heading{
    color: rgb(66, 66, 66);
    font-weight: bold;
}

.background{
    background-image: url("../img/movie.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    
    
}

/* ------ map ----------*/
.map{
    width: 100%;
    height: 300px;
}

/*------- ikony -------*/

.icons{
    opacity: 0.5;
}



.icons:hover{
    opacity: 1;
    transition:0.5s;
}


.fa-facebook-square{
    color:rgb(175, 175, 175);
    font-size: 50px;
}

.fa-instagram{
    color:rgb(175, 175, 175);
    font-size: 50px;
}

.fa-facebook-messenger{
    color:rgb(175, 175, 175);
    font-size: 50px;
}

.fa-facebook-messenger:hover{
    color: #ffc107;
    transition: 0.5s;
}

.fa-facebook-square:hover{
    color: #ffc107;
    transition: 0.5s;
}

.fa-instagram:hover{
    color: #ffc107;
    transition: 0.5s;
}

.fa-map-marker-alt{
    display: block;
    text-align: center;
}

.fa-credit-card{
    display: block;
    text-align: center;
}

.fa-map-marker-alt:after{
    display: block;
    content: "";
    height: 1px;
    width: 100px;
    background-color: #ffc107;
    margin: 0 auto;
    margin-top: 10px;
}
.fa-credit-card:after{
    display: block;
    content: "";
    height: 1px;
    width: 100px;
    background-color: #ffc107;
    margin: 0 auto;
    margin-top: 10px;
}

.logo2{
    width: 200px;
    position: absolute;
    left: 120px;
}

  .carousel-item img{
    height: auto;
  }

  .hash{
      font-size:40px;
  }

  .textowo{
      font-size: 35px;
  }